body{
    background-color: #f6efe3;
}
body > .container{
    margin-top: 40px;
}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgb(237, 120, 1);
}
.header a{
    color: #fff;
}
.header .active{
    color: rgb(140, 54, 1);
}
.card{
    margin-bottom: 10px;
}
.card img{
    margin-top: 10px;
}
.onoff{
    position: fixed;
    right: 30px;
    top: 70%;
    z-index: 999;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    background-color: rgb(237, 120, 1);
}